nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

nav ul {
    color: blue;
    background-color: rgb(227, 211, 199);
}

li {
    list-style: none;
    text-decoration: none;
}

.active {
    color: brown;
}